.price {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3D3BFF;
  position: relative;

  &__info {
    display: flex;
    flex-direction: column;

    &-card {
      display: flex;
      flex-direction: column;
      color: #FFF;
      align-items: center;

      &:first-child {
        flex-direction: column-reverse;
        opacity: .5;
      }

      &:last-child {
        padding-top: 30px;
      }

      &-text {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        letter-spacing: -0.5px;
        font-weight: 400;

        &-first {
          font-size: 15px;
          line-height: 18px;
        }

        &-second {
          font-weight: 700;
          font-size: 23px;
          line-height: 23px;
        }

        &-third {
          font-size: 20px;
          line-height: 23px;
        }
      }

      &-cost {
        font-family: 'Roboto Slab', serif;
        font-style: normal;
        font-weight: 300;
        letter-spacing: -2px;
        mix-blend-mode: normal;

        &-first {
         font-size: 38px;
         line-height: 50px;
         text-decoration: line-through;
         opacity: .4;
        }

        &-second {
         font-weight: 400;
         font-size: 80px;
         line-height: 106px;
        }

        &-third {
         font-size: 50px;
         line-height: 66px;         
        }
      }
    }
  }

  &__label {
    width: 110px;
    height: 119px;
    position: absolute;
    top: -20px;
    padding: 21px 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    color: #FFF;
    background-image: url('../../img/label-image.png');
    background-size: contain;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;

    &-text {
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    &-percent {
      font-size: 30px;
      line-height: 28px;
      letter-spacing: -0.75px;
      padding-top: 6px;
    }

    &-description {
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      letter-spacing: -0.5px;
      mix-blend-mode: normal;
      opacity: .7;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .price {
    width: 100%;
    min-height: 540px;

    &__info {
      &-card {
        &-text {
          &-second {
            font-size: 20px;
          }

          &-third {
            font-size: 18px;
            line-height: 21px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .price {
    width: 100%;
    min-height: 400px;

    &__info {
      row-gap: 10px;
      padding-top: 20px;

      &-card {
        &:last-child {
          padding-top: 20px;
        }

        &-text {
          &-second {
            font-size: 18px;
            line-height: 21px;
          }

          &-third {
            font-size: 15px;
            line-height: 18px;
          }
        }

        &-cost {
          font-family: 'Roboto Slab', serif;
          font-style: normal;
          font-weight: 300;
          letter-spacing: -2px;
          mix-blend-mode: normal;
  
          &-first {
           font-size: 36px;
           line-height: 47px;
          }
  
          &-second {
           font-size: 56px;
           line-height: 64px;
          }
  
          &-third {
           font-size: 40px;
           line-height: 53px;         
          }
        }
      }
    }
  
    &__label {
      top: -50px;
    }
  }
}