* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
}

button {
  border: none;
  cursor: pointer;
  transition: .3s ease-in-out;

  &:hover {
    transform: scale(1.04);
  }
}